<div id="wholepage">
  <div id="launcher" class="row w-100 p-0 m-0">
    <pre id="launchertxt">W E <i>'</i> R E  L A U N C H I N G  S O O N</pre>
  </div>
  <div id="date" class="row w-auto p-0 m-0">
    <img id="remdays" class="col" src="../assets/calendar.svg">
    <img id="remhours" class="col" src="../assets/calendar.svg">
    <img id="remmin" class="col" src="../assets/calendar.svg">
    <img class="col" src="../assets/calendar.svg">
  </div>
  <div id="digits" class="row p-0 m-0">
    <div class="col">{{days}}</div>
    <div class="col">{{hours}}</div>
    <div class="col">{{minutes}}</div>
    <div id="dynsec" class="col">{{seconds}}</div>
  </div>
  <div id="date" class="row w-auto p-0 m-0">
    <img id="remdays" class="col" src="../assets/transparentrect.svg">
    <img id="remhours" class="col" src="../assets/transparentrect.svg">
    <img id="remmin" class="col" src="../assets/transparentrect.svg">
    <img class="col" src="../assets/transparentrect.svg">
  </div>
  <div id="unities" class="row p-0 m-0">
    <div id="days" class="col"><pre>D A Y S</pre></div>
    <div id="hours" class="col"><pre>H O U R S</pre></div>
    <div id="minutes" class="col"><pre>M I N U T E S</pre></div>
    <div id="seconds" class="col"><pre>S E C O N D S</pre></div>
  </div>
  <img id="bottompage" src="../assets/pattern-hills.svg">
  <div id="socialnetworks" class="row p-0 m-0">
    <a href="#" class="col"><img src="../assets/icon-facebook.svg"></a>
    <a href="#" class="col"><img src="../assets/icon-pinterest.svg"></a>
    <a href="#" class="col"><img src="../assets/icon-instagram.svg"></a>
  </div>
</div>